body {
    background-color: #f5f5f5;
    position: relative;
}
.address_order{
    background-color: var(--primary-color1);
}
.sumary_fiel{
    background-color: var(--primary-color1);
}
.total_price{
    color: var(--primary-color3);
}
.pay_method{
    color: var(--primary-color3);
}
.checkout-btn{
    border-radius: 0;
}
.delevery_address{
    color: var(--primary-color3);
}
.quantity{
    padding-left: 35px !important;
}
.edit_address{
    cursor: pointer;
}
.form-container {
    width: 100%;
    max-width: 430px;
    height: 70vh;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: none;
    z-index: 9999; /* Đảm bảo form luôn hiển thị trên các phần tử khác */
}

.input-fiel input {
    line-height: 30px;

}
.order-item{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn-fiel {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.cancel_btn{
    background-color: #FF2F2F;
}
.save_btn{
    background-color: var(--primary-color3);
}
.btn-fiel button{
    width: 80px;
    height: 35px;
    border: none;
    color: var(--primary-color1);
}
.overlay {
    display: none;
}

.overlay.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
