.price {
    font-size: 32px;
    font-weight: bold;
    color:var( --primary-color3);
    margin-bottom: 20px;
}
.card-text {
    color: var( --primary-color4);
    line-height: 1.8;
    margin-bottom: 30px;
}
.btn-primary {
    background-color:var( --primary-color3);
    border-color:var( --primary-color3);
    padding: 8px 30px;
}
.btn-primary:hover {
    background-color: #145DBF;
    border-color: #145DBF;
}
input[type="number"] {
    width: 60px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
}
.card-title span {
    color:var( --primary-color3);
}
.card-title {
    font-size: 18px;
    margin-bottom: 30px;
}
.container {
    margin-top: 30px;
}
.img-fluid {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-link {
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    padding: 10px 20px;
    font-weight: bold;
    color:var( --primary-color3);
    background-color: #f8f9fa;
}

.nav-link.active {
    background-color:var( --primary-color3);
    color: var( --primary-color1) !important;
    border-color:var( --primary-color3);
}
.tab-content {
    color: var( --primary-color4);
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 60px;
}