.big_container {
    background: url('../images/backgroundFish/bg4.png') center center/cover;
    /* center center hình ảnh sẽ được đặt ở giữa cả theo chiều ngang lẫn chiều dọc */
    color: var(--primary-color1);
}
.products-section {
    background-color: rgba(24, 118, 242, 0.821);
    padding: 65px;
    text-align: center;
}

.products-section h1 {
    font-size: 2.5rem;
    margin-bottom: 60px;
    font-weight: bold;
}

.product-card {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
}

.product-card .outer-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:var(--primary-color1);
    overflow: hidden;
    opacity: 0;
    z-index: 1;
    transition: transform 0.5s ease, opacity 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.text-center:hover .outer-box {
    transform: translate(-50%, -50%) scale(1);
    width: 150px;
    height: 150px;
    opacity: 1;
}

.product-card .outer-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card .inner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background:var(--primary-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;
}

.text-center:hover .inner-box {
    transform: translate(-50%, -50%) scale(0.8);
}

.product-card .inner-box i {
    font-size: 1.5rem;
    color: var(--primary-color3);
}

.product-text h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.product-text p {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.product-text a {
    font-size: 0.9rem;
    color:var(--primary-color1);
    text-decoration: none;
    font-weight: 600;
}

.product-text a:hover {
    border: 1px solid var(--primary-color1);
    padding: 5px;
}