.body-profile{
    margin-bottom: 150px;
}
.profile-card{
    border: 1px solid var(--primary-color4);
    border-radius: 10px;
    overflow: hidden;
    /* height: 100vh; */
    /* position: relative; */
}
.profile-title{
    color: var(--primary-color2);
}
.profile-card .profile-header{
    background: linear-gradient(90deg, #0066ff, #66ccff);
    height: 150px;
    position: relative;
}

.profile-card .profile-footer{
    height: 150px;
}

.image-container {
    position: absolute;
    width: 120px;
    height: 120px;
    cursor: pointer;
    bottom: -60px;
    left: 15%;
}
  
.image-user {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}
  
.icon-overlay {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}
  
.icon-overlay .camera-icon {
    font-size: 2rem;
    color: var(--primary-color1);
}
  
.image-container:hover .icon-overlay {
opacity: 1;
}
  
.file-input {
display: none;
}
.camera-image-user{
    color: var(--primary-color1);
    font-size: 30px;
    line-height: 30px;
}
/* phần nhập liệu */
.profile-update-file{
    border: 1px solid var(--primary-color4);
    border-radius: 10px;
    overflow: hidden;
}
.profile-update-file, .profile-card{
    border-radius: 0 !important;
}
input.invalid {
    border-color: red;
}

.form-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

/* phần Sidebar */
.sidebar {
    background-color:var(--primary-color1);;
    border: 1px solid var(--primary-color4);
}
.sidebar h3 {
    font-size: 1.5rem;
    color: #343a40;
    font-weight: bold;
}

.sidebar .list-group-item {
    border: none;
    padding: 10px 15px;
    transition: all 0.2s ease-in-out;
}

.sidebar .list-group-item:hover {
    background-color: var(--primary-color3);
    transform: scale(1.05);
}

.sidebar .list-group-item a {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--primary-color2)
}

.sidebar .list-group-item a:hover {
    color: var(--primary-color1);
}

/* Phần thay đổi pass */
.profile-change-password{
    border: 1px solid var(--primary-color4);
    border-radius: 10px;
    overflow: hidden;
}