:root {
    --primary-color1: #ffffff;
    --primary-color2: #000000;
    --primary-color3: #1877F2;
    --primary-color3: #8C8C8C;
    --primary-color3: #E0E0E0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaisei Tokumin', serif;
}