.footer {
    background-color: var( --primary-color2);
    color: var(--primary-color1);
    padding: 60px 60px 20px 60px;
}

.footer-top {
    display: flex;
    gap: 60px;
    justify-content: space-evenly;
}

.footer-section {
    flex: 1;
    margin-right: 10px;
}

.footer-section:first-child {
    margin-left: 30px;
}

.footer-section h3,
.footer-section h6 {
    margin-bottom: 40px;
    color: var(--primary-color1);
}

.footer-section p {
    color: var( --primary-color4);
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 12px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: var(--primary-color1);
    transition: color 0.3s;
}

.footer-section ul li a p {
    color: var( --primary-color4);
    margin: 0;
}

.footer-section ul li a:hover {
    color: var( --primary-color3);
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-form label {
    color: var(--primary-color1);
    font-weight: bold;
}

.signup-form input {
    padding: 10px;
    border: 1px solid var(--primary-color1);
    color: var( --primary-color2);
    outline: none;
}

.signup-form button {
    padding: 10px;
    background-color: transparent;
    color: var(--primary-color1);
    border: 1px solid var(--primary-color1);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.signup-form button:hover {
    background-color: var( --primary-color3);
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: var(--primary-color1);
    font-size: 20px;
}

.social-icons i {
    color: var( --primary-color4);
    border: 2px solid var( --primary-color4);
    padding: 5px 10px;
    border-radius: 50%;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    color: var( --primary-color4);
}

.hr_gray {
    border-color: var(--primary-color4);
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.label_email {
    display: flex;
    gap: 20px;
}