.big_container {
  border-radius: 35px;
  padding: 20px;
  background-color: #fff;
  margin: 0;
  width: 936px;
  top: 200px;
  margin-left: 485px;
  position: absolute;
}

.small_container th,
.small_container td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
}

.role-select {
  display: none; /* Ẩn ô select mặc định */
  margin-top: 5px;
}
.icon-setting.user {
  color: blue;
}

.icon-setting.admin {
  color: green;
}
.table-primary {
  background-color: #737475; /* Tông màu xanh nhạt */
  color: #000;
}

.btn-sm {
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.btn-primary i,
.btn-danger i {
  font-size: 16px;
}
.table_btn {
  border-spacing: 0 10px;
  border-collapse: separate;
  table-layout: fixed;
  width: 100%;
}
.table_btn tbody tr{
  background-color: #E9F6F7;
  transition: background-color 0.3s;
}
.table_btn tbody tr:hover {
  background-color: #BCD9FF;
}

.table_btn th {
  border-right: 1px solid gray;
  background-color: white;
  line-height: 40px;

}

.table_btn th:last-child {
  border-right: none;
}

.table_btn th:first-child, td:first-child {
  width: 60px;
}
.table_btn th:nth-child(4), td:nth-child(4) {
  width: 120px;
}
.table_btn th:nth-child(5), td:nth-child(5) {
  width: 150px;
}
.table_btn th:last-child, td:last-child {
  width: 120px;
}

.table-body{
  max-height: 50vh; 
  overflow-y: auto; 
  display: block;
  height: 50vh;
}
.table-body tr{
  border-radius: 10px;
  line-height: 3;
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 10px;
}

.table-body::-webkit-scrollbar {
  width: 5px;
}

.table-body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color4);
  /* padding-left: -20px; */
}

.icon-setting{
  color: blue;
}
.icon-delete{
  color: red;
}
/* form */
.form-product-edit{
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 550px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 10;
}
.form-title{
  text-align: center;
}

.product-row td:first-child{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.product-row td:last-child{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

.addNewProducts {
  width: 200px;
  height: 50px;
  background-color: var(--primary-color3);
  position: fixed;
  z-index: 100;
  right: 25px;
  bottom: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color1);
}

.addNewProducts:hover {
  opacity: 0.8;
}